/.env
/.vscode
/adcd_1.py
/connect2sql.py
/doc
/russell.py
/install.ipynb
data/readme.txt
data/russell_20250106.sql
data/AAPL_MSFT.csv
data/admo_console_display_example.csv
data/archive/
delete.py
data/a.csv
archive/admo_console_display_chg.py
archive/console_display.py
archive/console_display.sql
data/archive/
archive/admo_console_display.py
archive/console_fistresn_wide.py
archive/console_fistresn.py
